@import "../../../src/scss/partials/variables";

/* -------------------------------
FAQ ITEM
------------------------------- */
.cbo-faq {
	border-bottom: 0.0625rem solid rgba($colorgreymediumlight, .4);

	.el-wrapper {
		margin: 1.875rem 0;
	}
	.el-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		background: none;
		border: none;
		cursor: pointer;
		text-align: left;
		gap: 1rem;

		.icon {
			border-radius: 99rem;
			width: 2.125rem;
			min-width: 2.125rem;
			height: 2.125rem;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1rem;
			box-shadow: inset 0 0 0 0.125rem $colorbluedark;
			transition: transform 0.3s $easeinout;
		}
	}
	.el-content {
		overflow: hidden;
		transition: height 0.3s $easeinout;

		&[hidden] {
			display: none;
		}
	}

	&.el--open {
		.el-title .icon {
			transform: rotate(45deg);
		}
		.el-content {
			padding-bottom: 1.875rem;
		}
	}
}