@import "../../../src/scss/partials/variables";

/* -------------------------------
TESTIMONIAL COMPONENT
------------------------------- */
.cbo-testimonial{
  position: relative;

  .testimonial-inner {
    z-index: 1;
    background: url(../../../library/images/quote.svg) no-repeat center bottom;
    background-size: contain;
  }
  .testimonial-infos{
    .infos-picture{
      border-radius: $borderbig;
      background: $colorwhite;
      padding: 0.625rem 0.625rem 5rem 0.625rem;
      box-shadow: 0.3125rem 0.3125rem 0.625rem 0 rgba($colorgrey, .6);

      .picture-inner {
        aspect-ratio: 6 / 4;
        border-radius: $borderlarge;
        overflow: hidden;
      }
    }
    .infos-content{
      margin-top: 1.25rem;
      font-size: 0.875rem;
      line-height: 1rem;

      .content-name{
        font-weight: bold;
      }
    }
  }
  .testimonial-content{
    margin-top: 1.25rem;

    .content-testimonial{
      p{
        font-weight: normal;
      }
    }
    .icon{
      color: $colorred;
      font-size: 3rem;
      line-height: 3rem;
      display: block;
      text-align: center;

      &.icon--bottom-quote{
        margin-top: -0.625rem;
      }
    }
  }
}

/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
  .cbo-testimonial{
    .testimonial-inner{
      background: url(../../../library/images/quote.svg) no-repeat left center;
      background-size: contain;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .testimonial-infos{
      width: 12.5rem;

      .infos-picture{
        .picture-inner {
          aspect-ratio: 4 / 4;
        }
      }
      .infos-content{
        margin-top: 2.125rem;
        font-size: 1rem;
        line-height: 1.125rem;
      }
    }
    .testimonial-content{
      flex: 1;
      padding-left: 3.75rem;
      max-width: 41.25rem;
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
  }
}