@import "../../../src/scss/partials/variables";

/* -------------------------------
HERO RICH COMPONENT
------------------------------- */
.cbo-herosimple {
  .herosimple-inner {
    text-align: center;
    z-index: 1;
    margin-top: 40px;
  }
  .herosimple-picture{
    width: 170px;
    height: auto;
    margin: 0 auto 30px;

    img{
      position: relative;
    }
  }
  .herosimple-title {
    margin-bottom: 30px;
  }
  .herosimple-chapo {
    max-width: 800px;
    margin: 0 auto;
  }
  .herosimple-buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 30px;

    .cbo-button{
      box-shadow: $shadowblack;
    }
  }
  .cbo-blob{
    &.blob--blue{
      &::before{
        top: 0;
      }
      &::after{
        top: 10%;
      }
    }
    &.blob--yellow{
      &::before,
      &::after {
        right: inherit;
      }
      &::before{
        left: -100px;
      }
      &::after{
        left: 0;
      }
    }
  }

  &.herosimple--bg-picture{
    .herosimple-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        object-fit: contain;
        object-position: top;
      }
    }
  }
}

/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
  .cbo-herosimple {
    .herosimple-picture{
      width: 400px;
    }
  
    .herosimple-title {
      margin-bottom: 50px;
    }
  }
}