@import "../../../src/scss/partials/variables";

/* -------------------------------
BLOCS SIMPLE COMPONENT
------------------------------- */
.cbo-blocsrich{
  .blocsrich-title{
    max-width: 48.125rem;
  }
  .blocsrich-chapo{
    margin-top: 1.875rem;
    max-width: 48.125rem;
  }

  .blocsrich-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    margin-top: 2.5rem;

    .list-el{
      .el-inner{
        height: 100%;
        color: $colorgrey;
        display: block;
        width: 100%;
        background: $colorwhite;
        border-radius: $bordermedium;
        padding: 1.25rem;
        box-shadow: $shadowmedium;

        .inner-top{
          display: block;

          .inner-icon{
            background: $coloryellow;
            border-radius: $bordermedium;
            margin-bottom: 0.875rem;
            width: 7.5rem;
            height: 7.5rem;
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
              position: relative;
            }
          }
          .inner-title{
            display: block;
            margin-bottom: 0.75rem;
            font-size: 1.25rem;
            line-height: 1.625rem;
          }
        }
        .inner-link{
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width:$screen-sm-min) {
  .cbo-blocsrich{
    .blocsrich-list{
      grid-template-columns: repeat(2, 1fr);

      .list-el{
        .el-inner{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}

/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width:$screen-md-min) {
  .cbo-blocsrich{
    .blocsrich-list{
      margin-top: 3.125rem;
      gap: 1.875rem;
      grid-template-columns: repeat(3, 1fr);

      .list-el{
        transition: all .35s cubic-bezier(.3,.71,0,1);

         .el-inner{
          padding: 1.875rem;

          .inner-top{
            .inner-icon{
              margin-bottom: 1.875rem;
            }
          }    
        }

        &:hover{
          transform: scale(1.02);

          .el-inner{
            .inner-link{
              .link-button{
                .icon{
                  transform: translateX(2.625rem);
                }
                &::before{
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
        }
      }       
    }
  }
}