@import "src/scss/partials/variables";

/* -------------------------------
BACK OFFICE COMPONENT
------------------------------- */

// BLOCKS
.editor-styles-wrapper{
	.wp-block-post-content{
		overflow: hidden;

		.block-editor-block-list__block{
			max-width: 104.375rem;

			.cbo-herosimple{
				text-align: center;

				.herosimple-inner{
					z-index: 2;
				}
				.cbo-blob{
					overflow: visible;
				}
			}
			.cbo-herorich {
				.herorich-list {
					.list-el {
						&.herorich-animate {
							animation: none;
						}
					}
				}
			}
			.cbo-articles.articles--relationship .articles-list{
				width: 100%;
				display: flex;
				flex-wrap: nowrap ;
				gap: 0 30px;

				.cbo-article .el-inner {
					padding: 0;
				}
			}
			.cbo-articles .articles-list{
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				gap: 0;

				.cbo-article .el-inner {
					padding: 0 15px;
				}
			}
		}
	}
}

#wpbody input[type="submit"] {
	height: auto;
}