/* -------------------------------
TYPOGRAPHY
------------------------------- */
@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Black.woff2') format('woff2'),
        url('../fonts/Mulish-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Bold.woff2') format('woff2'),
        url('../fonts/Mulish-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-ExtraBold.woff2') format('woff2'),
        url('../fonts/Mulish-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Regular.woff2') format('woff2'),
        url('../fonts/Mulish-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

ul{
	margin:0;
	padding:0;
	
	li{
		list-style-type: none; 
	}
}

a{
	text-decoration:none;
}

.cbo-title-1, .cbo-title-1 h1, .cbo-title-1 h2, .cbo-title-1 h3, .cbo-title-1 h4.cbo-title-1 h5, .cbo-title-1 p, .cbo-cms h1
.cbo-title-2, .cbo-title-2 h1, .cbo-title-2 h2, .cbo-title-2 h3, .cbo-title-2 h4.cbo-title-2 h5, .cbo-title-2 p, .cbo-cms h2,
.cbo-title-3, .cbo-title-3 h1, .cbo-title-3 h2, .cbo-title-3 h3, .cbo-title-3 h4.cbo-title-3 h5, .cbo-title-3 p, .cbo-cms h3,
.cbo-title-4, .cbo-title-4 h1, .cbo-title-4 h2, .cbo-title-4 h3, .cbo-title-4 h4.cbo-title-4 h5, .cbo-title-4 p, .cbo-cms h4{
	margin: 0;

	strong{
		font-weight: 900;
	}
}

.cbo-title-1, .cbo-title-1 h1, .cbo-title-1 h2, .cbo-title-1 h3, .cbo-title-1 h4.cbo-title-1 h5, .cbo-title-1 p, .cbo-cms h1{
	font-size: 2.125rem;
	line-height: 2.375rem;
	font-weight: normal;
}

.cbo-title-2, .cbo-title-2 h1, .cbo-title-2 h2, .cbo-title-2 h3, .cbo-title-2 h4.cbo-title-2 h5, .cbo-title-2 p, .cbo-cms h2{
	font-size: 1.75rem;
	line-height: 2rem;
	font-weight: 300;
	font-weight: 600;
}

.cbo-title-3, .cbo-title-3 h1, .cbo-title-3 h2, .cbo-title-3 h3, .cbo-title-3 h4.cbo-title-3 h5, .cbo-title-3 p, .cbo-cms h3{
	font-size: 1.375rem;
	line-height: 1.875rem;
	font-weight: 900;
}

.cbo-title-4, .cbo-title-4 h1, .cbo-title-4 h2, .cbo-title-4 h3, .cbo-title-4 h4.cbo-title-4 h5, .cbo-title-4 p, .cbo-cms h4{
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 900;
}

.cbo-title-4, .cbo-title-4 h1, .cbo-title-4 h2, .cbo-title-4 h3, .cbo-title-4 h4.cbo-title-4 h5, .cbo-title-4 p, .cbo-cms h4{
	font-weight: bold;
}

.cbo-chapo{
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 600;
}

.cbo-label{
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.cbo-cms{
	h1,h2,h3,h4,h5{
		font-weight: normal;
		margin: 4rem 0 2rem 0;

		&:first-child{
			margin-top: 0;
		}
	}
	p{
		margin: 0.875rem 0;

		&:last-child{
			margin-bottom: 0;
		}
		&:first-child{
			margin-top: 0;
		}
	}
	hr{
		border: 0;
		border-bottom: 0.0625rem solid rgba($colorgrey, .2);
		margin: 3.125rem 0;
	}
	ul{
		li{
			position:relative;
			display: flex;
			margin: 0.625rem 0;

			&:before{
				font-family:"icons";
				content:'\f104';
				font-size: 0.625rem;
				margin-right: 0.375rem;
			}
		}
	}
	a:not(.cbo-button){
		color:$colorgrey;
		text-decoration:underline;
	}
	.cbo-button{
		margin-top: 2.5rem;
	}
	img{
		display: block;
		margin: 0 auto;
	}
}

/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
	.cbo-title-1, .cbo-title-1 h1, .cbo-title-1 h2, .cbo-title-1 h3, .cbo-title-1 h4.cbo-title-1 h5, .cbo-title-1 p, .cbo-cms h1{
		font-size: 3.125rem;
		line-height: 3.5rem;
	}
	.cbo-title-2, .cbo-title-2 h1, .cbo-title-2 h2, .cbo-title-2 h3, .cbo-title-2 h4.cbo-title-2 h5, .cbo-title-2 p, .cbo-cms h2{
		font-size: 2.5rem;
		line-height: 1;
	}
	.cbo-title-3, .cbo-title-3 h1, .cbo-title-3 h2, .cbo-title-3 h3, .cbo-title-3 h4.cbo-title-3 h5, .cbo-title-3 p, .cbo-cms h3{
		font-size: 2rem;
		line-height: 2.375rem;
	}
	.cbo-chapo{
		font-size: 1.375rem;
		line-height: 2rem;
	}
}

/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
	.cbo-title-1, .cbo-title-1 h1, .cbo-title-1 h2, .cbo-title-1 h3, .cbo-title-1 h4.cbo-title-1 h5, .cbo-title-1 p, .cbo-cms h1{
		font-size: 4.375rem;
		line-height: 5rem;
	}
}