@import "../../../src/scss/partials/variables";

/* -------------------------------
CARDS SLIDER COMPONENT
------------------------------- */
.cbo-cardslider{
  overflow: hidden;
  position: relative;
  padding-top: 6.25rem;

  &.is-admin{
    .list-container {
      .cardslider-nav{
        display: none;
      }
      .cardslider-list{
        display: flex;
        gap: 0 2.5rem;

        .list-el{
          position: relative;
          width: 100%;
          min-width: 100%;
        }
      }
    }
  }
  &.cbo-overflow-container{
    margin-top: -6.25rem;
  }
  .cardslider-inner{
    padding-bottom: 3.125rem;
  }
  .cardslider-tabs {
    overflow-x: auto;
    display: flex;
    gap: 0.625rem;
    width: calc(100% - -2.5rem);
    padding: 0 1.25rem;
    margin: 2.5rem 0 0 -1.25rem;

    .tab-el {
      height: 2.5rem;
      font-size: 0.75rem;
      padding: 0.625rem 1.5rem;
      margin-bottom: 0;
      min-width: fit-content;
      color: $colorgrey;
      cursor: pointer;
      transition: all 0.2s ease;

      i{
       display: none;
      }
      &:hover,
      &.active {
        color: $colorwhite;
        background: rgba($colorgrey, 1);
        border: 0.0625rem solid rgba($colorgrey, 1);
      }
    }
  }

  .list-container{
    position: relative;

    .cardslider-list{
      position: relative;
      isolation: isolate;
      margin-top: 2.5rem;

      .list-el{
        position: absolute;
        left: 0;
        right: 0;
        max-width: 68.75rem;
        transition: top 0.45s $easeinout, left 0.45s $easeinout;
        cursor: pointer;

        .el-inner{
          border-radius: $borderbig;
          background: $colorwhite;
          box-shadow: 0.625rem 0.625rem 2.5rem 0 $colorbluelight;
          padding: 1.25rem;
          display: flex;
          flex-wrap: wrap;
          overflow: hidden;
        
          .inner-content{
            width: 100%;
            order: 2;
          }
          .inner-picture{
            order: 1;
            border-radius: $borderbig;
            overflow: hidden;
            width: 100%;
            padding-bottom: 60%;
            margin-bottom: 1.875rem;
          }
          .inner-title{
            display: none;
          }
        }

        &:nth-child(2){
          .el-inner{
            background: $coloryellow;
          }
        }
        &:nth-child(4){
          .el-inner{
            background: $colorblue;
          }
        }
        &.stack-active {
          cursor: default;
        }
      }
    }
    .cardslider-nav {
      display: none;
    }
  }

  .cardslider-bigtxt{
    color: $coloryellow;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    z-index: -1;
    pointer-events: none;
  }
}

/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width:$screen-md-min) {
  .cbo-cardslider{
    .cardslider-tabs {
      .tab-el {
        font-size: 0.875rem;

        i{
          margin-right: 0.5rem;
          display: block;
        }
      }
    }

    .list-container{
      .cardslider-list{
        .list-el{
          .el-inner{
            padding: 1.875rem 1.875rem 1.875rem 4.375rem;
            gap: 2rem;
            align-items: center;
            flex-wrap: nowrap;

            .inner-content{
              order: 1;
              max-width: 25rem;
              width: 40%;
              padding: 2.75rem 0;
            }
            .inner-picture{
              order: 2;
              width: 50%;
              max-width: 29.375rem;
              min-height: 33.75rem;
              margin-bottom: 0;
              padding-bottom: 0;
            }
            .inner-title{
              order: 3;
              display: block;
              margin-left: 1rem;
              font-size: 2.1875rem;
              line-height: 2.1875rem;
              text-transform: uppercase;
              font-weight: 900;
              writing-mode: vertical-rl;
              transform: rotate(180deg);
              align-self: flex-start;
            }
          }
        }
      }

      .cardslider-nav {
        position: absolute;
        bottom: 50%;
        left: 0;
        margin-bottom: -1.875rem;
        z-index: 4;
        width: 100%;
        max-width: 68.75rem;
        display: flex;
        justify-content: space-between;

        .nav-btn {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 3.75rem;
          height: 3.75rem;
          border-radius: 99rem;
          border: 0.125rem solid $colorgrey;
          background: $colorwhite;
          color: $colorgrey;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          transition: all 0.2s cubic-bezier(.694,.048,.335,1);

          &:after,
          &:before{
            font-family: "icons";
            font-size: 1.25rem;
            content: "\f101";
            transition: transform .35s cubic-bezier(.694,.048,.335,1);
          }
 
          &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(calc(-50% - 3.75rem), -50%);
          }

          &:hover {
            background: $coloryellow;

            &:after  {
              transform: translateX(3.75rem);
            }
            &:before {
              transform: translate(-50%, -50%);
            }
          }
          &.nav-btn--next {
            right: -1.875rem;
          }
          &.nav-btn--prev {
            left: -1.875rem;

            &:after,
            &:before {
              content: "\f102";
            }
            &:before {
              transform: translate(calc(-50% + 3.75rem), -50%);
            }
            &:hover {
              &:before {
                transform: translate(-50%, -50%);
              }
              &:after {
                transform: translateX(-3.75rem);
              }
            }
          }
        }
      }
    }
  }
}

/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width:$screen-lg-min) {
  .cbo-cardslider{
    padding-top: 12.5rem;
  }
}