@import "../../../src/scss/partials/variables";

/* -------------------------------
TEXT PICTURE COMPONENT
------------------------------- */
.cbo-textpicture {
  .textpicture-wrap{
    .textpicture-picture{
      border-radius:  $borderbig;
      aspect-ratio: 1/1;
      margin-bottom: 1.875rem;
      overflow: hidden;
    }
  }

  &.textpicture--white{
    .textpicture-wrap{
      background: $colorwhite;
      border-radius:  $borderbig;
      box-shadow: $shadowbig;
      padding: 1.25rem;
    }
  }
}

/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
  .cbo-textpicture {
    .textpicture-wrap{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .textpicture-picture{
        width: 29.375rem;
        margin-bottom: 0;
      }
      .textpicture-content {
        flex: 1;
        padding: 0 0 0 3.75rem;
      }
    }

    &.textpicture--reverse{
      .textpicture-wrap{
        flex-direction: row-reverse;

        .textpicture-content {
          padding: 0 3.75rem 0 0;
        }
      }
    }

    &.textpicture--white{
      .textpicture-wrap{
        padding: 2.5rem;
        margin: 0 auto;
      }
    }
  }
}