@import "../../../src/scss/partials/variables";

/* -------------------------------
TEXT PICTURE COMPONENT
------------------------------- */
.cbo-textpicture {
  .textpicture-wrap{
    .textpicture-picture{
      border-radius:  $borderbig;
      aspect-ratio: 65%;
      margin-bottom: 1.875rem;
      overflow: hidden;

      .el-title{
        display: none;
      }
    }
  }

  &.textpicture--white{
    .textpicture-wrap{
      background: $colorwhite;
      border-radius:  $borderbig;
      box-shadow: $shadowbig;
      padding: 1.25rem;

      .textpicture-picture{
        padding-bottom: 0;
        aspect-ratio: 1.2/1;
      }
    }
  }
}

/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min) {
  .cbo-textpicture {
    .textpicture-wrap{
      .textpicture-picture{
        min-height: 18.75rem;

        .el-title{
            display: block;
            margin: 0;
            color: $colorwhite;
            border-radius: $bordermedium;
            position: absolute;
            bottom: 0.625rem;
            left: 0.625rem;
            padding: 0.625rem;
            text-align: center;
            width: calc(100% - 1.25rem);
            font-size: 0.75rem;
            background-color: rgba($colorgrey, 0.5);
            backdrop-filter: blur(0.5rem);
          }
      }
    }
  }
}

/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
  .cbo-textpicture {
    .textpicture-wrap{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .textpicture-picture{
        width: 29.375rem;
        margin-bottom: 0;
        padding-bottom: 0%;

        .el-title{
          bottom: 1.25rem;
          left: 1.25rem;
          width: calc(100% - 2.5rem);
        }
      }
      .textpicture-content {
        flex: 1;
        padding: 0 0 0 3.75rem;
      }
    }

    &.textpicture--reverse{
      .textpicture-wrap{
        flex-direction: row-reverse;

        .textpicture-content {
          padding: 0 3.75rem 0 0;
        }
      }
    }

    &.textpicture--white{
      .textpicture-wrap{
        padding: 2.5rem;
        margin: 0 auto;
      }
    }
  }
}