@import "../../../src/scss/partials/variables";

/* -------------------------------
ARTICLES LIST COMPONENT
------------------------------- */
.cbo-articles{
  position: relative;

  .articles-list{
    margin-top: 1.875rem;
  }

  &.articles--relationship{
    &:after{
      content: '';
      background: $colorgreymedium;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70%;
    }
    .articles-inner{
      z-index: 1;
      padding-top: 4.375rem;
    }
    .articles-list{
      margin: 3.125rem 0 0 0;

      .slick-list{
        width: calc(100% - -2.5rem);
        margin-left: -1.25rem;
        padding: 0 1.25rem 1.5rem 1.25rem;

        .slick-track{
          gap: 1.25rem;

          .slick-slide {
            height: auto;

            & > div{
              height: 100%;

              .cbo-article{
                height: 100%;
                margin: 0;
              }
            }
          }
        }
      }
      .slick-dots{
        margin-top: 2.5rem;
      }
    }
  }

  .articles-button{
    margin-top: 2.5rem;
    text-align: center;
  }
}

/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
  .cbo-articles{
    .articles-list{
      display: flex;
      flex-wrap: wrap;
      margin: -2.5rem -0.625rem -1.25rem -0.625rem;
    }

    &.articles--relationship{
      overflow: hidden;

      .articles-list{
        .slick-list{
          overflow: visible;
          width: calc(100% - -5rem);
          margin-left: -2.5rem;
          padding: 0 2.5rem 1.5rem 2.5rem;

          .cbo-article{
            .el-inner{
              padding: 0;
            }
          }
        }
      }
    }
  }
}

/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
  .cbo-articles{
    .articles-inner{
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .articles-list{
      order: 3;
      margin:  -1.875rem -0.9375rem;
    }

    .articles-head{
      order: 1;
      flex: 1;
      padding-right: 1.875rem;
    }

    .articles-button{
      margin: 0;
      max-width: fit-content;
      order: 2;
      text-align: right;
    }

    &.articles--relationship{
      .articles-inner{
        padding-top: 5.625rem;
      }
      .articles-list {
        .slick-list {
          .slick-track {
            gap: 1.875rem;
          }
        }
      }
    }
  }
}

/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
  .cbo-articles {
    &.articles--relationship {
      .articles-list {
        .slick-list {
          width: 100%;
          margin-left: 0;
          padding: 0 0 1.5rem;
        }
      }
    }
  }
}