@import "../../../src/scss/partials/variables";

/* -------------------------------
   HEROPICTURE COMPONENT
------------------------------- */
.cbo-heropicture {
  background-image: linear-gradient(rgba($colorblue, 0), rgba($colorblue, 0.07), rgba($colorblue, 0.18), rgba($colorblue, 0.07), rgba($colorblue, 0));

  .heropicture-inner {
    margin-bottom : 3.125rem;
    text-align: center;
  }
  .heropicture-chapo {
    max-width: 46rem;
    margin: 1.875rem auto 0;
  }
  .heropicture-list {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    .list-el {
      overflow: hidden;
      border-radius: $borderbig;
      flex-shrink: 0;
      will-change: transform, opacity;
      transform-origin: center bottom;

      &:nth-child(2) {
        animation-delay: 0.15s;
      }
      &:nth-child(1),
      &:nth-child(3) {
        animation-delay: 0.28s;
      }
      .el-inner {
        display: block;
        width: 100%;
        overflow: hidden;
        border-radius: $borderbig;
      }
      &.list-el--2 {
        max-width: 35.625rem;
        flex: 1;

        .el-inner {
          aspect-ratio: 14 / 9;
        }
      }
      &.list-el--1,
      &.list-el--3 {
         width: 20%;
         max-width: 10.625rem;

        .el-inner {
          aspect-ratio: 2.5/4;
        }
      }
    }
  }
}

/* -------------------------------
   1 SEULE IMAGE
------------------------------- */
.cbo-heropicture {
  .heropicture-list--count-1 {
    .list-el.list-el--1 {
      max-width: 35.625rem;
      width: auto;
      flex: 1;

      .el-inner {
        aspect-ratio: 14 / 9;
      }
    }
  }
}

/* -------------------------------
   LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
  .cbo-heropicture {
    .heropicture-list {
      gap: 1.75rem;
    }
  }
}