@import "../../../src/scss/partials/variables";

/* -------------------------------
BLOCS SIMPLE COMPONENT
------------------------------- */
.cbo-blocs{
  .blocs-title{
    max-width: 48.125rem;
  }
  .blocs-list{
    margin-top: 3.125rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;

    .list-el{
      .el-inner{
        width: 100%;

        .inner-icon{
          box-shadow: $shadowmedium;
          background: $coloryellow;
          border-radius: $bordermedium;
          margin-bottom: 1.25rem;
          width: 3.375rem;
          height: 3.375rem;
          padding: 0.75rem;
          display: flex;
          justify-content: center;
          align-items: center;

          img{
            position: relative;
          }
          &.icon--blue{
            background: $colorblue;

            img{
              filter: invert(1);
            }
          }
        }
        .inner-title{
          margin-bottom: 0.75rem;
          font-size: 1.25rem;
          line-height: 1.625rem;
        }
        .inner-content{
          opacity: 0.6;
        }
      }
    }
  }
}

/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width:$screen-sm-min) {
  .cbo-blocs{
    .blocs-list{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width:$screen-md-min) {
  .cbo-blocs{
    .blocs-list{
      gap: 2.5rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width:$screen-lg-min) {
  .cbo-blocs{
    .blocs-list{
      gap: 2.5rem 6.25rem;
    }
  }
}