@import "../../../src/scss/partials/variables";

/* -------------------------------
SINGLE WEBINAIRE
------------------------------- */
.cbo-single-webinaire {
	.single-content {
		.content-meta {
			display: flex;
			margin-bottom: 1.25rem;

			.icon {
				width: 3.125rem;
				height: 3.125rem;
				background: $coloryellow;
				border-radius: $bordermedium;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.875rem;
				z-index: 2;
			}

			.meta-info {
				background: $colorwhite;
				padding: 0 1.25rem 0 1.875rem;
				border-radius: 0 $bordermedium $bordermedium 0;
				margin-left: -0.625rem;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.meta-duree{
					display: block;
				}
			}
		}
		.content-button{
			margin: 1.875rem 0 3.125rem 0;
			box-shadow: $shadowblack;
			width: 100%;
		}
	}
	.single-form {
		margin-top: 2.5rem;
		background: $colorwhite;
		border-radius: $borderlarge;
		box-shadow: $shadowblack;
		padding: 1.25rem;
		height: fit-content;
	}
}

/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min) {
	.cbo-single-webinaire {
		.single-inner {
			display: flex;
			align-items: flex-start;
		}
		.single-content {
			flex: 1;
			padding-right: 2.5rem;
		}
		.single-form {
			width: 40%;
			max-width: 31.25rem;
			position: sticky;
			top: 10.75rem;
		}
	}
}

/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
	.cbo-single-webinaire {
		.single-content {
			padding-right: 4.375rem;

			.webinaire-speakers {
				margin-top: 3.75rem;
			}
		}
		.single-form {
			padding: 2.5rem;
			margin-top: 0;
		}
	}
}